<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestSuite_SitTest.US0001_CreateBooking_Validation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>View_Order_Information</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Errormessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>View_booking_status</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>View_unbooked_Purchase_Orders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Search_Booked_Appointments</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bookPOsingleAppointment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Set_booking_status</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
