<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Marcereon suite 1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63a2ba">  <td>19/09/23 15:19:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;US0001_CreateBooking_Validation.beforeSuite()[pri:0, instance:TestSuite_SitTest.US0001_CreateBooking_Validation@67b6d4ae]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597462040</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>19/09/23 15:19:16</td>   <td>820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;US0001_CreateBooking_Validation.beforeMethod()[pri:0, instance:TestSuite_SitTest.US0001_CreateBooking_Validation@67b6d4ae]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1597462040</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>19/09/23 15:19:25</td>   <td>9304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US0001_CreateBooking_Validation.Errormessage()[pri:2, instance:TestSuite_SitTest.US0001_CreateBooking_Validation@67b6d4ae]">Errormessage</td> 
  <td>main@1597462040</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>19/09/23 15:19:38</td>   <td>22525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;US0001_CreateBooking_Validation.afterMethod()[pri:0, instance:TestSuite_SitTest.US0001_CreateBooking_Validation@67b6d4ae]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1597462040</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>19/09/23 15:19:39</td>   <td>23896</td> <td>&nbsp;</td><td title="&lt;&lt;US0001_CreateBooking_Validation.afterTest()[pri:0, instance:TestSuite_SitTest.US0001_CreateBooking_Validation@67b6d4ae]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597462040</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>19/09/23 15:19:39</td>   <td>24119</td> <td title="&lt;&lt;US0001_CreateBooking_Validation.afterSuite()[pri:0, instance:TestSuite_SitTest.US0001_CreateBooking_Validation@67b6d4ae]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597462040</td>   <td></td> </tr>
</table>
